.springboard.app-weather > .dock:before
{
    background: -webkit-linear-gradient(top, rgba(#000, .25), rgba(#000, .75));
    background: linear-gradient(to bottom, rgba(#000, .25), rgba(#000, .75));
}

.app.weather
{
    overflow: hidden;
    background: #000;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);

    > .location
    {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        -webkit-transition: left 1s;
        transition: left 1s;

        &.active
        {
            left: 0;
        }

        > .wallpaper
        {
            z-index: 1;
            position: absolute;
            top: -2em;
            right: -2em;
            bottom: -2em;
            left: -2em;
            background: transparent url(../../images/wallpaper.jpg) center no-repeat;
            background-size: cover;
            -webkit-filter: blur(1.25em);
                    filter: blur(1.25em);
        }

        > .conditions, > .forecast
        {
            z-index: 2;
            position: absolute;
            top: 4.5em;
            left: 6em;
            text-shadow: 0 .1em .4em rgba(#000, .5);

            > h1
            {
                margin: 0 0 .15em;
                font-weight: 200;
                font-size: 10em;
            }

            > .current-weather
            {
                font-weight: 400;
                font-size: 3em;

                > em
                {
                    font-weight: 600;
                    opacity: .66;
                }
            }
        }

        > .forecast
        {
            top: 25em;
            bottom: 0;
            left: 6em;
            width: 60em;
            overflow: hidden;
            -webkit-mask-image: -webkit-gradient(linear, left 40%, left 90%, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));

            > ul
            {
                display: block;
                position: absolute;
                top: 0;
                right: -15px;
                bottom: 0;
                left: 0;
                overflow: auto;
                opacity: .66;

                &:after
                {
                    content: "";
                    display: block;
                    height: 10em;
                }

                > li
                {
                    margin: 0 0 1em;
                    padding: 0 0 .66em;
                    font-weight: 300;
                    font-size: 2.33em;
                    border-radius: 0 0 .11em .11em;
                    border-bottom: 2px solid rgba(#FFF, .25);
                    box-shadow: 0 4px 4px rgba(#000, .1);

                    > .weather
                    {
                        > i
                        {
                            display: inline-block;
                            width: 1.5em;
                        }
                    }

                    > .temperature
                    {
                        display: inline-block;
                        margin: 0 0 0 .66em;
                        font-weight: 500;
                        opacity: .66;
                    }

                    > .time
                    {
                        font-weight: 600;
                        font-size: .8em;
                        float: right;
                        opacity: .6;
                    }
                }
            }
        }
    }
}
